*~
configuration.mk
dacapo_calibration.aux
dacapo_calibration.blg
dacapo_calibration.log
dacapo_calibration.out
dacapo_calibration.tex
dacapo_calibration.toc
ftnroutines*.so
ftnroutines*.dll
ftnroutines*.dynlib
__pycache__
test_assign_files_to_processes.txt
test_split.txt
test_split_into_n.txt
test_sum_subranges.txt
test_split_into_periods.txt
test_files/*
.ipynb_checkpoints
